*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  /* Убирает автоматические отступи */
  margin: 0px;
}
p {
  margin: 0;
}
/* Убирает подчеркивание ссылок */
a {
  text-decoration: none;
}

/* Удаляет точки возли списков */
li {
  list-style: none;
}
ul {
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
}
